.blog{
	margin-top: 50px;
	background-color: #45d469;
	padding: 3% 0%;
	color: #fff;
}

a{
	text-decoration: none;
	color: #fff;
}

a:hover{
	text-decoration: none;
}

.vertical-centered-text {
  -ms-display: flex;
  display: flex;
  /* alineacion vertical */
  align-items: center;
  /* alineacion horizontal */
  justify-content: center; }

  .content{
  	background-color: #ccc;
  	padding: 3% 0%;
  	color: #3b4657;
  }

  .content .box-white{
  	background-color: #fff;
  	margin: 2% 0%;
  }

  .content .box-white img{
  	width: 100%;
  }

  .article{
  	padding: 3%;
  }

  h6{
  	display: inline-block;
  	color: #888;
  }

  .pl-7{
	padding-left: 7px;
  }